/** {
	margin: 0px;
	padding: 0px;
}

#customView {
	padding-top: 5vh;
	padding-bottom: 10vh;
	text-align: center;
}

#nav {
	width: 100%;
	height: 5vh;
	font-size: 2vh;
	background-color: #202020;
	text-align: center;
	color: white;
	position: fixed;
}

#nav a {
	text-decoration: none;
	color: white;
}

#signUpForm {
	text-align: center;
	font-size: 30px;
}

#signUpForm label {
	font-size: 50px;
}

#signUpForm input {
	border: 2px solid grey;
	border-radius: 3px;
}

#signUpForm input {
	width: 50vw;
	height: 3vh;
	font-size: 40px;
}

#signUpForm button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:9px 20px;
	text-decoration:none;
}

button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:9px 20px;
	text-decoration:none;
}


footer {
	width: 100%;
	background-color: grey;
	height: 6vh;
	bottom: 0px;
	left: 0px;
	text-align: center;
	position: fixed;
	border-top: 5px solid darkgrey;
}

footer div {
	width: 24vw;
	height: 100%;
	text-align: center;
	display: inline-block;
	font-size: 3.5vh;

}

footer div i {
	margin-top: 15px;
	color: white;
}


#searchDiv {
	background-color: cyan;
}

#feedDiv {
	background-color: tomato;
}

#postDiv {
	background-color: limegreen;
}

#settingsDiv {
	background-color: steelblue;
}


.connections {
	text-align: center;
	width: 100%;
	height: 10vh;
	border-bottom: 2px solid blue;
	background-color: lightblue;
	display: block;
	font-size: 5em;
}

.connections img {
	max-height: 80%;
	border-radius: 75%;
	float: left;
}

.connections i {
	float: right;
}

#profilePic {
	width: 50vw;
	max-width: 300px;
	border-radius: 75%;
}

#connectionLabel {
	font-size: 5vw;
	text-align: left;
}

#peopleSearch {
	width: 80%;
	height: 5vh;
	border: 3px solid blue;
	margin-bottom: 3vh;
	font-size: 3em;
}

#profileDiv i {
	background-color: blue;
	color: white;
	padding: 15px;
	border-radius: 3px;
}

#profileDiv .selectedMood i {
	background-color: lightblue;
}

#profileDiv .weatherSelected i {
	background-color: lightblue;
}

#profileDiv #userPic {
	border-radius: 75%;
	max-height: 10vh;
	display:inline;
}

#profileDiv {
	font-size: 5em;
}

.header {
	width: 100%;
	background-color: darkgrey;
	position: absolute;
	top: 0px;
}

.header img, .header h2 {
	float: left;
}

.header i {
	float: right;
}

.feed {
	width: 100%;
	min-height: 5vh;
	background-color: grey;
	border: 2px solid darkgrey;
}

.postingDiv {
	position: fixed;
	bottom: 0px;
	width: 100%;
	min-height: 3vh;
	padding: 0px;
	background-color: darkgrey;
}

.postingDiv input{
	width: 80%;
	height: 3vh;
	font-size: 1.3em;
}

.postingDiv button {
	height: 3vh;
}

*/

* {
	background-color: #f2e4c9;
}

/* LOGIN PAGE */
#splashScreen {
	width: 100%;
	text-align: center;
}

#splashScreen h1 {
	font-size: 5em;
}

#splashScreen i {
	font-size: 15em;
}

#signupForm {
	text-align: center;
	font-size: 3em;
}

#signupForm input {
	width: 80vw;
	height: 5vh;
	border: 3px solid black;
	font-size: 1.5em;
	border-radius: 11px;
	text-align: center;
}
.form-group {
	margin: 10px;
}

button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:9px 20px;
	text-decoration:none;
	font-size: 2em;
}


/* HOME PAGE */

#homeScreen {
	text-align: center;
}

#homeScreen h2 {
	font-size: 3em;
}

#profilePic {
	max-height: 50vh;
	max-width: 50vw;
	display: block;
	margin: auto;
	border-radius: 50%;
	border: 5px solid green;
}

#homeScreen hr {
	width: 100%;

    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;

}

.connections {
	height: 10vh;
}

.connections img {
	border-radius: 50%;
	height: 9em;
	width: 9em;
	position: absolute;
	left: 10px;
}

.connections span {
	margin-top: 7vh;
	font-size: 8em;
}

.connections i {
	position: absolute;
	right: 10px;
	margin-top: 10px;
	font-size: 9em;
}

#homeFunctionDiv {
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 10px;
	background-color: #debb77;
	border-top: 3px solid #d4a64e;
	left: 0px;
	height: 60px;
}

#newConnectionButton {
	position: absolute;
	left: 20px;
}

#logOutButton {
	position: absolute;
	right: 40px;
}


/* PROFILE */



.widget-clock {
	width: 30% !important;
	float: right;
}















