<button type="button" ng-click="logOut()">Log out</button>


<img id="profilePic" ng-src="{{users[userId].avatar}}" ui-sref="profile({currentUser: true, handle: userId})"></img>


<button ui-sref="addNewConnection">Add New Connection</button>

<span>{{users[userId].handle}}</span>

<h2 id="connectionLabel">Connections:</h2>
<div class="connections" ng-repeat="connection in connections | filter: connectionFilter">
    <img ng-src="{{users[connection.user1].avatar}}" ng-if="!user1">
    <img ng-src="{{users[connection.user2].avatar}}" ng-if="user1">
	<span ng-if="!user1" ui-sref="profile({currentUser: false, handle: connection.user1})">{{users[connection.user1].handle}}</span>
	<span ng-if="user1" ui-sref="profile({currentUser: false, handle: connection.user2})">{{users[connection.user2].handle}}</span>
    <i ng-if="!user1" class="fa fa-{{users[connection.user1].mood}}-o"></i>
    <i ng-if="user1" class="fa fa-{{users[connection.user2].mood}}-o"></i>
</div>

