<div id="homeScreen">
<h1>Welcome!</h1>
<img class="profilePic" ng-if="(users[userId].avatar) != 'NA'" ng-src="{{users[userId].avatar}}" ui-sref="profile({currentUser: true, handle: userId})"></img>
<i class="fa fa-user profilePic" ng-if="(users[userId].avatar) == 'NA'" ui-sref="profile({currentUser: true, handle: userId})"></i>

<!-- <span>{{users[userId].handle}}</span>
   -->
<h2 id="connectionLabel">Want to know more about...</h2>
<hr>
<div id="homeConnectionDiv">
   <div class="connections" ng-repeat="connection in connections | filter: connectionFilter">
      <div ng-if-"user1" ui-sref="profile({currentUser: false, handle: connection.user2})">
      	 <i class="fa fa-user noAvatar" ng-if="(users[connection.user2].avatar) == 'NA'"></i>
         <img ng-if="(users[connection.user2].avatar) != 'NA' && user1" ng-src="{{users[connection.user2].avatar}}">
         <span ng-if="user1" >{{users[connection.user2].handle}}</span>
         <i ng-if="user1" class="fa fa-{{users[connection.user2].mood}}-o moodIcons"></i>
      </div>
      <div ng-if="!user1" ui-sref="profile({currentUser: false, handle: connection.user1})">
      	  <i class="fa fa-user noAvatar" ng-if="(users[connection.user1].avatar) == 'NA'"></i>
         <img ng-if="(users[connection.user1].avatar) != 'NA' && !user1" ng-src="{{users[connection.user1].avatar}}">
         <span ng-if="!user1">{{users[connection.user1].handle}}</span>
         <i ng-if="!user1" class="fa fa-{{users[connection.user1].mood}}-o moodIcons"></i>
      </div>
   </div>
</div>

<div id="homeFunctionDiv">
   <button ui-sref="addNewConnection" id="newConnectionButton">Add New Connection</button>
   <button type="button" ng-click="logOut()" id="logOutButton">Log out</button>
</div>