<div id="profileDiv">

<div class="header">
    <img id="userPic" ng-src="{{userObj.avatar}}">
    <h2>{{userObj.handle}}</h2>
    <i ng-if="!isCurrentUser" class="fa fa-{{userObj.mood}}-o"></i>
    <i ng-if="!isCurrentUser" class="fa fa-{{userObj.weather}}"></i>
</div>
<!-- Current time -->
<p id="time">{{currentTime | date:"MM/dd/yyyy 'at' h:mma"}}</p>

<div ng-if="isCurrentUser">
    <!-- Mood status div -->
    <a ng-click="updateMood('smile')" ng-class="{selectedMood : moodSelected('smile')}"><i class="fa fa-smile-o"></i></a>
    <a ng-click="updateMood('meh')" ng-class="{selectedMood : moodSelected('meh')}"><i class="fa fa-meh-o"></i></a>
    <a ng-click="updateMood('frown')" ng-class="{selectedMood : moodSelected('frown')}"><i class="fa fa-frown-o"></i></a>

    <a ng-click="updateWeather('sun-o')" ng-class="{selectedMood : weatherSelected('sun-o')}"><i class="fa fa-sun-o"></i></a>
    <a ng-click="updateWeather('cloud')" ng-class="{selectedMood : weatherSelected('cloud')}"><i class="fa fa-cloud"></i></a>
    <a ng-click="updateWeather('tint')" ng-class="{selectedMood : weatherSelected('tint')}"><i class="fa fa-tint"></i></a>

    <div class="postingDiv">
        <input type="text" ng-model="formData.status" placeholder="What's on your mind?">
        <button ng-click="updateStatus()">Update Status</button>
    </div>
</div>

<div ng-if="!isCurrentUser">

    <div class="postingDiv">
        <input type="text" ng-model="commentData.status" placeholder="Leave a note">
        <button ng-click="leaveComment()">Update Status</button>
    </div>
</div>

<!-- News feed -->
<div class="feed" ng-repeat="post in posts | filter:postFilter | orderBy: '-time'">
    {{post.content}}
    {{post.handle}}
</div>

<!-- Days until they come home -->

</div>